<!DOCTYPE html>
<html lang="pr-br">
    <h1 class="TituloInvestimentos">REMAR - Escolha ou planeje seu investimento:</h1>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSTRUTORA REMAR</title>
</head>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Construtora REMAR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    ||<li class="nav-item">
                        <a class="nav-link" href="/Home/Investimentos">Opções de Investimentos</a>
                    </li>
                    ||<li class="nav-item">
                        <a class="nav-link" href="/Home/Atendimento">Atendimento ao Cliente</a>
                    </li>
                    ||<li class="nav-item">
                        <a class="nav-link" href="/Home/FaleConosco">Consulte nossos profissionais</a>
                    </li>
                    ||<li class="nav-item">
                        <a class="nav-link" href="/Home/Cadastro">Cadastro</a>
                    </li>
                    ||<li class="nav-item">
                        <a class="nav-link" href="/Home/Sugestao">Sugestões</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Busca" aria-label="Busca">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
            </div>
        </nav>
    </header>
    <br>
    <h2 class="TituloInvestimentos">Empreendimento Florais - Casas térreas individuais</h2>
    <img src="/imagem/casa_terrea.JPG" width="400">
    <br>
    <h2 class="TituloInvestimentos">Empreendimento Casablanca - Condomínio de sobrados</h2>
    <img src="/imagem/condominio_de_sobrados.JPG" width="400">
    <br>
</header>
<br>
<body>
    <table border="1">
        <tr>
            <th>Empreendimento</th>
            <th>Inicio da obra</th>
            <th>Previsão de entrega</th>
            <th>Previsão valor de venda</th>
        </tr>
        <tr>
            <td>Florais - Casas individuais</td>
            <td>nov/2021</td>
            <td>out/2022</td>
            <td>R$245.000,00 a unidade</td>
        </tr>
        <tr>
            <td>Casa Blanca Condominio de sobrados</td>
            <td>out/2021</td>
            <td>jan/2023</td>
            <td>R$320.000,00 a unidade</td>
        </tr>

    </table>
Consulte nossos profissionais, <a class="consulta" href="/Home/FaleConosco">clicando aqui</a>
</body>
<br>
</html>